<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-label="Are you sure?">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="lead">${message}</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="${commitButtonClass}" data-action="commit">${commitButtonText}</button>
        <button type="button" class="${cancelButtonClass}" data-bs-dismiss="modal">${cancelButtonText}</button>
      </div>
    </div>
  </div>
</div>